---
layout: default

victories:
  header: "Our Impact So Far"

  blocks:
    - title: "115,851"
      text: "Animals cared for by The HSUS and affiliates this year through cruelty interventions, spay/neuter and vaccination programs, sanctuaries, wildlife rehabilitation and more"

    - title: "58,239"
      text: "Pets spayed or neutered as part of World Spay Day"

    - title: "2.9+ <small>MILLION</small>"
      text: "Messages that our supporters sent to government and corporate decision-makers"

    - title: "139"
      text: "State and local laws, regulations and ordinances passed to help animals"

    - title: "1.4 <small>MILLION</small>"
      text: "U.S. farm animals spared the misery of factory farms and slaughter plants as a result of our meat-reduction campaign"

---

{% assign intro_text = site.data.homepage.intro %}
 <section class="intro showless" id="intro">
  <div class="wrapper">
    <span class="post">{{ intro_text.bold1 }}</span><span class="more">{{ intro_text.readmore1 }}</span>
    <br><br>
    <span class="more">{{ intro_text.readmore2-1 }}</span> <span class="pre initial-caps">{{ intro_text.bold2 }}</span> <span class="more">{{ intro_text.readmore2-2 }}</span>
    <br class="more"><br class="more">
    <span class="more">{{ intro_text.readmore3-1 }}</span> <span class="post">{{ intro_text.bold3-1 }}</span><span class="more">{{ intro_text.readmore3-2 }}</span><br class="less"><br class="less"> <span class="pre">{{ intro_text.bold3-2 }}</span>
    <br class="more"><br class="more">
    <span class="more">{{ intro_text.readmore4 }}</span> <span>{{ intro_text.bold4 }}</span>
    <br><br><br class="less">
    <span class="period italic">{{ intro_text.bold5 }}</span> <span class="more">{{ intro_text.readmore5 }}</span>
    <p class="more-button" id="intro-button"><a href="#intro" class="readmore">Read More</a></p>
  </div>
</section>


<section class="victories">
  <div class="wrapper">
    <h2>{{ page.victories.header }}</h2>
    {% for item in page.victories.blocks %}
    {% if item.title %}
      <div class="victory">
        <h3>{{ item.title }}</h3>
        <p>{{ item.text }}</p>
      </div>
    {% endif %}
  {% endfor %}
  </div>
  <div class="victory-after">&nbsp;</div>
</section>


<section class="president showless" id="about">
  <div class="wrapper">
    {% assign letter = site.data.homepage.president %}
    <div class="letter-top">
      <p>{{ letter.from }}</p>
      <h2 id="letter-top">{{ letter.about }}</h2>
    </div>
    <div class="pic">
      <img src="{{ letter.image }}" alt="{{ letter.caption }}">
      <p>{{ letter.caption }}</p>
    </div>

    <div class="body" id="letter-body">
      <h3 class="more">{{ letter.header1 }}</h3>
      <h3>{{ letter.header2 }}</h3>

      <p class="list-top">{{ letter.list-top }}</p>
      <ul>
        <li>{{ letter.list1 }}</li>
        <li>{{ letter.list2 }}</li>
        <li>{{ letter.list3 }}</li>
        <li>{{ letter.list4 }}</li>
        <li>{{ letter.list5 }}</li>
      </ul>
      <p class="more">{{ letter.body1 }}</p>
      <br class="more"><br class="more">
      <p class="more">{{ letter.body2 }}</p>
      <br class="more"><br class="more">
      <p class="more">{{ letter.body3 }}</p>

      <p class="more-button" id="pres-button"><a href="#letter-body" class="readmore">{{ letter.readmore }}</a></p>
    </div>

    <p class="sig"><img src="{{ letter.signature-image }}" alt="{{ letter.signature-text }}"><br/>{{ letter.signature-text }}</p>
  </div>
</section>


<section class="campaign-previews" id="program-areas">
  {% for campaign_hash in site.data.campaigns %}
  {% assign campaign = campaign_hash[1] %}
  <a href="/{{campaign.url}}/">
    <div class="preview {{campaign.layout}}" style="background-image: url('{{campaign.image}}');">
      <h3>{{campaign.title}}</h3>
      <div class="overlay">
        <img src="{{campaign.icon}}" alt="{{campaign.caption}}" />
        <h3>{{campaign.title}}</h3>
        <p>{{campaign.caption}}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</section>


<section class="events" id="events">
  <div class="wrapper">
    {% assign event_text = site.data.homepage.events %}
    <div class="event">
      <h2>{{ event_text.event-header }}</h2>
      <p>{{ event_text.event-body }}</p>
      <a class="cta-button" href="{{ event_text.event-link }}">{{ event_text.event-link-text }}</a>
    </div>

    <div class="book">
      <div class="book-header">
        <a class="cover" href="{{ event_text.book-link-url }}"><img src="{{ event_text.book-image-url }}" alt="{{ event_text.book-image-alt }}"></a>
        <a class="title" href="{{ event_text.book-link-url }}"><h2>{{ event_text.book-link-text }}</h2></a>
        <p>{{ event_text.book-author }}</p>
      </div>
      <div class="book-body">
        <p>{{ event_text.book-blurb }}</p>
        <a class="cta-link" href="{{ event_text.book-link-url }}">{{ event_text.book-cta-link }}</a>
      </div>
    </div>
  </div>
  <div class="events-after">&nbsp;</div>
</section>
