---
layout: default
---

{% assign intro_text = site.data.homepage.intro %}
 <section class="intro showless">
  <strong class="post">{{ intro_text.bold1 }}</strong><span class="more">{{ intro_text.readmore1 }}</span>  
  <br><br>
  <span class="more">{{ intro_text.readmore2-1 }}</span> <strong class="pre initial-caps">{{ intro_text.bold2 }}</strong> <span class="more">{{ intro_text.readmore2-2 }}</span> 
  <br class="more"><br class="more">
  <span class="more">{{ intro_text.readmore3-1 }}</span> <strong class="post">{{ intro_text.bold3-1 }}</strong><span class="more">{{ intro_text.readmore3-2 }}</span><br class="less"><br class="less"> <strong class="pre">{{ intro_text.bold3-2 }}</strong> 
  <br class="more"><br class="more">
  <span class="more">{{ intro_text.readmore4 }}</span> <strong>{{ intro_text.bold4 }}</strong>
  <br><br><br class="less">
  <strong class="period">{{ intro_text.bold5 }}</strong> <span class="more">{{ intro_text.readmore5 }}</span>
  <p><a class="readmore">Read More</a></p>
</section>


<section class="victories">
  {% for victory_hash in site.data.homepage.victories %}
  <div class="victory">
    <h3>{{ victory_hash.header }}</h3>
    <p>{{ victory_hash.text }}</p>
  </div>
  {% endfor %}
</section>


<section class="president showless" id="about">
  {% assign letter = site.data.homepage.president %}
  <p>{{ letter.from }}</p>
  <h2>{{ letter.about }}</h2>

  <h3 class="more">{{ letter.header1 }}</h3>
  <h3>{{ letter.header2 }}</h3>

  <p class="list-top">{{ letter.list-top }}</p>
  <ul>
    <li>{{ letter.list1 }}</li>
    <li>{{ letter.list2 }}</li>
    <li>{{ letter.list3 }}</li>
    <li>{{ letter.list4 }}</li>
    <li>{{ letter.list5 }}</li>
  </ul>
  <p class="more">{{ letter.body1 }}</p>
  <p class="more">{{ letter.body2 }}</p>
  <p class="more">{{ letter.body3 }}</p>

  <p><a class="readmore">{{ letter.readmore }}</a></p>

  <p>{{ letter.signature-text }}</p>
</section>


<section class="campaign-previews" id="program-areas">
  {% for campaign_hash in site.data.campaigns %}
  {% assign campaign = campaign_hash[1] %}
  <a href="/{{campaign.url}}/">
    <div class="preview {{campaign.layout}}" style="background-image:{{campaign.image}};">
      <h3>{{campaign.title}}</h3>
      <p>{{campaign.caption}}</p>
    </div>
  </a>
  {% endfor %}
</section>


<section class="cta" id="events">
  {% assign cta_text = site.data.homepage.cta %}
  <div class="event">
    <h2>{{ cta_text.event-header }}</h2>
    <p>{{ cta_text.event-body }}</p>
    <a class="cta-button" href="{{ cta_text.event-link }}">{{ cta_text.event-link-text }}</a>
  </div>

  <div class="book">
    <img src="{{ cta_text.book-image-url }}" alt="{{ cta_text.book-image-alt }}">
    <h2><a href="{{ cta_text.book-link-url }}">{{ cta_text.book-link-text }}</a></h2>
    <p>{{ cta_text.book-author }}</p>
    <p>{{ cta_text.book-blurb }}</p>
    <a class="cta-link" href="{{ cta_text.book-link-url }}">{{ cta_text.book-cta-link }}</a>
  </div>
</section>
