@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=53158acb-a360-4b2f-b1f6-5d599d2362c2");

/* Light */
/*@font-face{
font-family:"Frutiger W01_n2";
src:url("./81e3653a-53bd-49d9-a1f8-f924811b6f02.eot?#iefix") format("eot")
}
@font-face{
font-family:"Frutiger W01";
src:url("./81e3653a-53bd-49d9-a1f8-f924811b6f02.eot?#iefix");
src:url("./81e3653a-53bd-49d9-a1f8-f924811b6f02.eot?#iefix") format("eot"),url("./087d8a95-3f25-4bae-a1d1-db9ddffd72f5.woff2") format("woff2"),url("./ab1bcdf7-9570-4cba-a8e3-3e39ddd861db.woff") format("woff"),url("./83c94878-06c8-442c-a7df-d520b0ced00b.ttf") format("truetype"),url("./29f3ff8a-1719-4e25-a757-53ee1a1114a5.svg#29f3ff8a-1719-4e25-a757-53ee1a1114a5") format("svg");
font-weight: 200;
font-style: normal;
}*/


/* Light Italic */
/*@font-face{
font-family:"Frutiger W01_i2";
src:url("./381ea1e1-9a08-4929-a402-63be7fd76549.eot?#iefix") format("eot")
}
@font-face{
font-family:"Frutiger W01";
src:url("./381ea1e1-9a08-4929-a402-63be7fd76549.eot?#iefix");
src:url("./381ea1e1-9a08-4929-a402-63be7fd76549.eot?#iefix") format("eot"),url("./db6ed4c5-5248-41f3-a6b5-4e8ff1d5ab06.woff2") format("woff2"),url("./38f88aba-a7d0-4a78-9323-ac58226d277e.woff") format("woff"),url("./1149176e-a9be-41bf-822e-275d9da199e5.ttf") format("truetype"),url("./cd75c3e3-c5b7-4a25-9498-cabe4e8a9076.svg#cd75c3e3-c5b7-4a25-9498-cabe4e8a9076") format("svg");
font-weight: 200;
font-style: italic;
}*/

/* Roman */
@font-face{
font-family:"Frutiger W01_n4";
src:url("./fe232554-5489-4874-bb45-bd966c8c5932.eot?#iefix") format("eot")
}
@font-face{
font-family:"Frutiger W01";
src:url("./fe232554-5489-4874-bb45-bd966c8c5932.eot?#iefix");
src:url("./fe232554-5489-4874-bb45-bd966c8c5932.eot?#iefix") format("eot"),url("./0811514e-6660-4043-92c1-23d0b8caaa2f.woff2") format("woff2"),url("./aeae8cac-ba4d-40d2-bbcf-936f2c7dcfe6.woff") format("woff"),url("./caedf2e6-fbef-4928-b08e-1f975981ae8d.ttf") format("truetype"),url("./7def0e34-f28d-434f-b2ec-472bde847115.svg#7def0e34-f28d-434f-b2ec-472bde847115") format("svg");
font-weight: 400;
font-style: normal;
}

/* Italic */
@font-face{
font-family:"Frutiger W01_i4";
src:url("./f8bbb037-530d-4e04-a651-4134f7031164.eot?#iefix") format("eot")
}
@font-face{
font-family:"Frutiger W01";
src:url("./f8bbb037-530d-4e04-a651-4134f7031164.eot?#iefix");
src:url("./f8bbb037-530d-4e04-a651-4134f7031164.eot?#iefix") format("eot"),url("./f5a95cb0-6d5b-4eb4-b6a3-a529d5ccde25.woff2") format("woff2"),url("./01f463dc-dba9-419f-9c9f-80ac2ee9f427.woff") format("woff"),url("./ba125970-2d75-413e-a466-324153755f20.ttf") format("truetype"),url("./141c0322-57c4-48ca-abb4-31688d659f7d.svg#141c0322-57c4-48ca-abb4-31688d659f7d") format("svg");
font-weight: 400;
font-style: italic;
}

/* Bold */
@font-face{
font-family:"Frutiger W01_n7";
src:url("./eb06b4c3-c0fd-4cd0-a9d9-a2954f6839a7.eot?#iefix") format("eot")
}
@font-face{
font-family:"Frutiger W01";
src:url("./eb06b4c3-c0fd-4cd0-a9d9-a2954f6839a7.eot?#iefix");
src:url("./eb06b4c3-c0fd-4cd0-a9d9-a2954f6839a7.eot?#iefix") format("eot"),url("./8c92eb68-ce37-4962-a9f4-5b47d336bd1c.woff2") format("woff2"),url("./9bdfdcac-bbd4-46a9-9280-056c9a4438a2.woff") format("woff"),url("./5dae3a6e-9b07-4c2f-aed2-1f5b8951261b.ttf") format("truetype"),url("./eae74276-dd78-47e4-9b27-dac81c3411ca.svg#eae74276-dd78-47e4-9b27-dac81c3411ca") format("svg");
font-weight: 700;
font-style: normal;
}

/* Bold Italic */
@font-face{
font-family:"Frutiger W01_i7";
src:url("./36c26121-ef21-4e44-9f00-0388185c96aa.eot?#iefix") format("eot")
}
@font-face{
font-family:"Frutiger W01";
src:url("./36c26121-ef21-4e44-9f00-0388185c96aa.eot?#iefix");
src:url("./36c26121-ef21-4e44-9f00-0388185c96aa.eot?#iefix") format("eot"),url("./9e60a7b4-389b-4630-9fa6-1abd9be2035f.woff2") format("woff2"),url("./3048913e-d0c8-4b82-978a-aa862248bea4.woff") format("woff"),url("./db4ea3f5-223b-4821-957f-6eb868db73b1.ttf") format("truetype"),url("./8ad009ab-a7e5-4acb-8ca5-326d2a759924.svg#8ad009ab-a7e5-4acb-8ca5-326d2a759924") format("svg");
font-weight: 700;
font-style: italic;
}
