<footer>
  {% assign logo = site.data.shared.logos.logo %}
  <a class="site-logo" href="{{ site.data.shared.hsus-url }}"><img src="{{ logo.image-url }}" alt="{{ logo.alt }}"></a>
  {% assign int-logo = site.data.shared.logos.int %}
  <a class="int-logo" href="{{ int-logo.url }}"><img src="{{ int-logo.image-url }}" alt="{{ int-logo.alt }}"></a>

  <div class="tagline">{{ site.data.shared.footer-tagline }}</div>

  <div class="social">
    {% for link in site.data.shared.social-links %}
    <a class="{{link.channel}}" href="{{ link.url }}">
      <img class="svg" src="{{ link.icon }}" alt="{{ link.text }}">
    </a>
    {% endfor %}
  </div>

  {% assign privacy = site.data.shared.privacy %}
  {% assign contact= site.data.shared.contact %}
  <div class="privacy-contact"><a href="{{ privacy.url }}">{{ privacy.title}}</a> &nbsp;|&nbsp; <a href="{{ contact.url }}">{{ contact.title }}</a></div>

  <div class="copyright">&copy; {{ site.time | date: '%Y' }} {{ site.data.shared.copyright }}</div>

  <div class="non-profit">{{ site.data.shared.non-profit-statement }}</div>
</footer>
