<footer>
  <a class="site-logo" href="{{ site.data.misc.hsus-url }}"><img src="{{ site.url }}{{ site.data.misc.logo-url }}" alt="{{ site.data.misc.logo-alt }}"></a>
  <a class="int-logo" href="{{ site.data.misc.int-url }}"><img src="{{ site.data.misc.int-url }}" alt="{{ site.data.misc.int-logo-alt }}"></a>

  <div class="tagline">{{ site.data.misc.footer-tagline }}</div>

  <div class="social">
    <a class="twitter" href="{{ site.data.misc.social-twitter-url }}">{{ site.data.misc.social-twitter-icon }}</a>
    <a class="pinterest" href="{{ site.data.misc.social-pinterest-url }}">{{ site.data.misc.social-pinterest-icon }}</a>
    <a class="facebook" href="{{ site.data.misc.social-facebook-url }}">{{ site.data.misc.social-facebook-icon }}</a>
    <a class="instagram" href="{{ site.data.misc.social-instagram-url }}">{{ site.data.misc.social-instagram-icon }}</a>
    <a class="youtube" href="{{ site.data.misc.social-twitter-url }}">{{ site.data.misc.social-twitter-icon }}</a>
    <a class="googleplus" href="{{ site.data.misc.social-googleplus-url }}">{{ site.data.misc.social-googleplus-icon }}</a>
    <a class="linkedin" href="{{ site.data.misc.social-linkedin-url }}">{{ site.data.misc.social-linkedin-icon }}</a>
  </div>

  <div class="visit">{{ site.data.misc.visit-text }} <a href="{{ site.data.misc.visit-url }}">{{ site.data.misc.visit-link-text }}</a></div>

  <div class="privacy-contact"><a href="{{ site.data.misc.privacy-url }}">{{ site.data.misc.privacy-text }}</a> | <a href="{{ site.data.misc.contact-url }}">{{ site.data.misc.contact-text }}</a></div>

  <div class="copyright">&copy; {{ site.time | date: '%Y' }} {{ site.data.misc.copyright }}</div>

  <div class="non-profit">{{ site.data.misc.non-profit-statement }}</div>
</footer>
