<section class="outro" id="get-involved">
  <div class="wrapper">
    <div class="body">
      <h2>At The Humane Society of the United States, <strong>we think big.</strong></h2>

      <p>
        We set ambitious goals, and we have a proven record of meeting them. Becoming a part of our anniversary campaign gives you this unique and powerful chance. Join our campaign to achieve even more transformational change for animals.
      </p>

      <h3>We can't do it without you.</h3>
    </div>

    <div class="actions">
      <div class="action email-phone">
        555-555-5555<br>
        philanthropy@humanesociety.org<br>
        <a class="donate" href="#">Donate Online</a>
      </div>

      <div class="action event">
        <a href="#">Attend an Event</a>
      </div>
    </div>
  </div>
</section>
