<section class="outro">
  <h2>At The Humane Society of the United States, we think big.</h2>

  <p><span class="highlight">We set ambitious goals, and we have a proven record of meeting them.</span></p>

  <p>Few opportunities exist to help enact change on such a vast scale, to touch so many lives and transform them for the better. <span class="highlight">Becoming a part of our anniversary campaign gives you this unique and powerful change.</span></p>

  <p>By grounding our campaign in specific goals and achievable steps, we’re setting ourselves up for success at this most crucial tipping point in our work. We know you share our vision of a more humane and compassionate world for animals, and we need your help. <span class="highlight">Join our campaign to achieve even more transformational change for animals.</p>

  <h3>We can't do it without you.</h3>

  <a class="readmore">Read More</a>

  <div class="actions">
    <div class="action email-phone">
      Email<br>
      Phone:
    </div>

    OR

    <div class="action register">
      <a href="">Register For An Event</a>
    </div>

    OR

    <div class="action donate">
      <a href="">Donate Online</a>
    </div>
  </div>

  <div class="donors">
    <div class="donor">Donor Name</div>
    <div class="donor">Donor Name</div>
    <div class="donor">Donor Name</div>
    <div class="donor">Donor Name</div>
  </div>

</section>
