<nav>
  <div class="wrapper">
    <a href="#"><img src="{{ site.data.misc.small-logo-url }}" class="logo-sm" alt="Logo: {{site.title}}"></a>
    
    <div class="mobile-menu" id="mobile-menu">
      <a href="#about" class="text about">About the Campaign</a>
      <a href="#program-areas" class="text program-areas">Program Areas</a>
      <a href="#events" class="text event">Attend an Event</a>
      <a href="#get-involved" class="text get-involved">Get Involved</a>
    </div>

    <div class="menu" id="menu">
      <a href="#about" class="text about">About the Campaign</a>
      <a href="#program-areas" class="text program-areas">Program Areas</a>
      <a href="#events" class="text event">Attend an Event</a>
      <a href="#get-involved" class="text get-involved">Get Involved</a>
    </div>

    <a class="mobile-menu-icon"><div><span>Menu</span></div></a>
  </div>
</nav>
