<nav>
  <div class="wrapper">
    <a href="/"><img src="{{ site.data.shared.logos.logo.small-image-url }}" class="logo-sm" alt="Logo: {{site.title}}"></a>

    <div class="mobile-menu" id="mobile-menu">
      <a href="#goals" class="text about">About the Campaign</a>
      <a href="#get-involved" class="text get-involved">Get Involved</a>      
      {% assign next = page.order | times: 1 | plus: 1 %}
      {% for c in site.campaigns %}
        {% if c.order == next %}
        <a href="{{ c.url}}" class="next text">
            <span class="post-title">{{ c.title }}</span>
        </a>
        {% elsif c.order == 5 and page.order == 5  %}
          {% for f in site.campaigns %}
            {% if f.order == 1 %}
              {% assign start = f %}
            {% endif %}
          {% endfor %}
          <a href="{{ start.url }}" class="next text">
              <span class="post-title">{{ start.title }}</span>
          </a>
        {% endif %}
      {% endfor %}
    </div>

    <div class="menu" id="menu">
      <a href="#goals" class="text left about">About the Campaign</a>
      <a href="#get-involved" class="text left get-involved">Get Involved</a>
    </div>

    <div class="next-menu">
      {% for c in site.campaigns %}
        {% if c.order == next %}
          <a href="{{ c.url }}" class="next text">
              <span class="post-title">{{ c.title }}</span>
          </a>
        {% elsif c.order == 5 and page.order == 5  %}
          {% for f in site.campaigns %}
            {% if f.order == 1 %}
              {% assign start = f %}
            {% endif %}
          {% endfor %}
          <a href="{{ start.url }}" class="next text">
              <span class="post-title">{{ start.title }}</span>
          </a>
        {% endif %}
      {% endfor %}
    </div>

    <a class="mobile-menu-icon"><div><span>Menu</span></div></a>
  </div>
</nav>
