<nav>
  <div class="wrapper">
    <a href="#"><img src="{{ site.data.shared.logos.logo.small-image-url }}" class="logo-sm" alt="Logo: {{site.title}}"></a>

    <div class="mobile-menu" id="mobile-menu">
      <a href="#about" class="text about">About the Campaign</a>
      <a href="#program-areas" class="text program-areas">Our Priorities</a>
      <a href="#supporters" class="text supporters">Our Supporters</a>
      <a href="#get-involved" class="text get-involved">Join Us</a>
    </div>

    <div class="menu" id="menu">
      <a href="#about" class="text about">About the Campaign</a>
      <a href="#program-areas" class="text program-areas">Our Priorities</a>
      <a href="#supporters" class="text supporters">Our Supporters</a>
      <a href="#get-involved" class="text get-involved">Join Us</a>
    </div>

    <a class="mobile-menu-icon"><div><span>Menu</span></div></a>
  </div>
</nav>
