// Component template. See helpers/_02-config.scss for actual widths.
// Default / Mobile
.campaign-previews {
  width: 100%;
  display: inline-block;
  .preview {
    background-size: cover;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: block;
    float: left;
    min-height: em(300);
    .overlay {
      background-color: rgba($blue,0.9);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(100%);
      @include transition(all 0.5s ease-out);
      text-align: center;
      h3,p {
        color: white;
        font-weight: 200;
        max-width: 90%;
        margin: 0 auto;
      }
      h3 {
        font-size: em(24);
        margin-bottom: em(16,24);
      }
      p {
        font-size: em(15);
        line-height: 1.6;
        opacity: 0.7;
      }
      img {
        width: 20%;
        height: auto;
        margin: em(30) 0 em(20);
      }
    }
    &:hover .overlay {
      transform: translateY(0);
    }
    & > h3 {
      background-image:linear-gradient( transparent, $black );
      font-weight: 200;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 50%;
      margin: 0;
      width: 100%;
      line-height: 12;
      color: $white;
      text-align: center;
      font-size: em(16);
      @include transition(all 0.3s linear);
    }    
    &:hover > h3 {
      opacity: 0;
    }
  }
}

//  Tablet
@media all and (min-width: $tablet) {
}

//  Large Tablet
@media all and (min-width: $lg-tablet) {
  .campaign-previews {
    .preview {
      width: 33.333%;
      min-height: em(300);
      &.first {
        width: 60%;
      }
      &.second {
        width: 40%;
      }
      .overlay {
        h3,p {
          max-width: 80%;
        }
        h3 {
          font-size: em(24);
          margin-bottom: em(16,24);
        }
        p {
          font-size: em(15);
          line-height: 1.6;
          opacity: 0.7;
        }
        img {
          width: 15%;
          margin: em(32) 0 em(16);
        }
      }
      & > h3 {
        height: 20%;
        text-align: left;
        width: 100%;
        line-height: 3;
        padding-left: em(30,20);
        font-size: em(18);
      }    
    }
  }
}

//  Desktop
@media all and (min-width: $desktop) {
  .campaign-previews {
    .preview {
      width: 33.333%;
      min-height: em(605);
      &.first {
        width: 60%;
      }
      &.second {
        width: 40%;
      }
      .overlay {
        h3,p {
          max-width: 70%;
        }
        h3 {
          font-size: em(32);
          margin-bottom: em(16,32);
        }
        p {
          font-size: em(15);
          line-height: 1.6;
          opacity: 0.7;
        }
        img {
          width: 15%;
          margin: em(110) 0 em(55);
        }
      }
      & > h3 {
        height: 20%;
        width: 100%;
        line-height: 6;
        padding-left: em(50,20);
        font-size: em(20);
      }    
    }
  }
}

