// Component template. See helpers/_02-config.scss for actual widths.
// Default / Mobile
.goals {
  background: transparent url('../images/goals/mobile-goals1.jpg') no-repeat top center; //quality @ 70
  background-size: cover;
  display: block;
  text-align: center;
  .wrapper {
    max-width: 94%;
    margin: 0 3%;
  }
  h2 {
    margin-top: 0;
    padding-bottom: 0;
    padding-top: em(40,24);
    font-weight: 200;
    color: $gold;
    font-size: em(24);
  }
  .goal {
    display: inline-block;
    width: 80%;
    font-weight: 200;
    font-size: em(16);
    line-height: 1.5;
    vertical-align: top;
    margin-bottom: em(40,16);
    &:nth-of-type(odd) {
      margin-right: 0%;
      &:last-child {
        margin-right: 0;
      }
    }
    em {
      font-style: normal;
      color: $gold;
    }
  }
}


//  Tablet
@media all and (min-width: $tablet) {
  .goals {
    .wrapper {
      max-width: 84%;
      margin: 0 8%;
    }
    h2 {
      padding-bottom: em(10,28);
      padding-top: em(60,28);
      font-size: em(28);
    }
    .goal {
      width: 43%;
      font-size: em(16);
      margin-bottom: em(60,16);
      &:nth-of-type(odd) {
        margin-right: 12%;
      }
    }
  }
}

//  Large Tablet
@media all and (min-width: $lg-tablet) {
  .goals {
    background-image: url('../images/goals/goals1.jpg'); //quality @ 70
    .wrapper {
      max-width: 84%;
      margin: 0 8%;
    }
    h2 {
      padding-bottom: em(20,32);
      padding-top: em(100,32);
      font-size: em(32);
    }
    .goal {
      width: 38%;
      font-size: em(17);
      margin-bottom: em(80,17);
      &:nth-of-type(odd) {
        margin-right: 17%;
      }
    }
  }
}

//  Desktop
@media all and (min-width: $desktop) {
  .goals {
    .wrapper {
      max-width: em(1360);
      margin: 0 auto;
    }
    h2 {
      padding-bottom: em(60,36);
      padding-top: em(180,36);
      font-size: em(36);
    }
    .goal {
      width: 37%;
      font-size: em(22);
      margin-bottom: em(100,22);
      &:nth-of-type(odd) {
        margin-right: 19%;
      }
    }
  }
}
