// Component template. See helpers/_02-config.scss for actual widths.
// Default / Mobile
.donors {
  background: transparent url('../images/donors/mobile-donors3.jpg') no-repeat top center; //quality @ 70
  background-size: cover;
  display: inline-block;
  min-height: em(330);
  text-align: center;
  width: 100%;
  h2 {
    font-size: em(20);
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: em(40,20) auto em(20,20) ;
    max-width: 90%;
    color: $white;
    em {
      font-family: $secondary-font;
      font-size: em(32,24);
      font-style: normal;
      letter-spacing: 0;
    }
  }
  .donor {
    display: inline-block;
    line-height: 1.2;
    margin-bottom: em(32);
    vertical-align: top;
    width: 40%;
    a {
      color: $white;
      font-size: em(18);
      font-weight: 400;
      text-decoration: none;
    }
    .prompt {
      // display: none;
      color: darken($white,20%);
      font-family: $secondary-font;
      font-size: em(14,18);
      opacity: 0;
      @include transition(all 0.3s linear);
      &:before {
        border-color: transparent transparent darken($white,20%) transparent;
        border-style: solid;
        border-width:  0 em(8) em(11) em(8);
        content: "";
        display: block;
        height: 0;
        margin: em(4) auto em(8);
        position: relative;
        top: 0;
        width: 0;
      }
    }
    a:hover .prompt {
      opacity: 0.7 !important;
    }
  }
}

//  Tablet
@media all and (min-width: $tablet) {
  .donors {
    min-height: em(440);
    h2 {
      font-size: em(26);
      letter-spacing: 2px;
      margin-top: em(120,26);
      em {
        font-size: em(32,26);
      }
    }
    .donor {
      margin-top: em(32);
      width: 22%;
      a {
        font-size: em(18);
      }
    }
  }
}

//  Large Tablet
@media all and (min-width: $lg-tablet) {
  .donors {
    background-image: url('../images/donors/donors3.jpg'); //quality @ 70
    min-height: em(550);
    h2 {
      font-size: em(28);
      margin-top: em(140,28);
      em {
        font-size: em(34,28);
      }
    }
    .donor {
      margin-top: em(48);
      a {
        font-size: em(22);
        letter-spacing: 1px;
      }
    }
  }
}

//  Desktop
@media all and (min-width: $desktop) {
  .donors {
    min-height: em(660);
    h2 {
      font-size: em(40);
      margin-top: em(180,40);
      em {
        font-size: em(46,40);
      }
    }
    .donor {
      margin-top: em(52);
      a {
        font-size: em(32);
      }
    }
  }
}
