// Component template. See helpers/_02-config.scss for actual widths.
// Default / Mobile
.events {
  background: transparent url('../images/events/mobile-events2.jpg') no-repeat top center; //quality @ 70
  background-size: cover;
  clear: both;
  .wrapper {
    padding: em(30) 0 em(70);
    text-align: center;
    display: inline-block;
    max-width: 94%;
    margin: 0 3%;
  }
  .event, .book {
    width: 90%;
    margin: 0 5%;
  }
  .event {
    h2 {
      font-size: em(32);
      font-weight: 200;
      letter-spacing: 1px;
      line-height: 1.15;
      opacity: 0.8;
      margin: em(45,32) auto em(25,32) ;
    }
    p {
      font-weight: 200;
      line-height: 1.5;
    }
    .cta-button {
      @include default-transition;
      color: $white;
      display: inline-block;
      text-decoration: none;
      padding: 0;
      font-size: em(24);
      &:after {
        content: " →";
        color: $light-gold;
        font-size: em(25);
        line-height: 1;
        position: relative;
        top: em(4,25);
      }
      &:hover {
        opacity: 1;
        &:after {
          left: 1px;
        }
      }
    }
  }
  .book {
    margin-top: em(32);
    .book-header {
      background-color: rgba($blue,0.5);
      padding: em(18);
      display: inline-block;
      .cover {
        float: left;
        max-width: 30%;
        margin-right: 5%;
        img {
          width: 100%;
        }
      }
      .title {
        color: $white;
        text-decoration: none;
        line-height: 1.3;
        max-width: 60%;
        h2 {
          font-weight: 200;
          text-align: left;
          font-size: em(14);
          margin: 0;
        }
      }
      p {
        margin: em(8) 0 0 0;
        padding: 0;
        text-align: left;
        font-size: em(14);
      }
    }
    .book-body {
      background-color: rgba($white,0.1);
      padding: em(18) em(24);
      display: inline-block;
      text-align: left;
      p {
        font-size: em(16);
        line-height: 1.5;
        margin-top: 0;
        color: $light-grey;
      }
      a {
        display: block;
        margin-bottom: em(6);
        margin-top: em(8);
        color: $light-grey;
        text-decoration: none;
        font-size: em(15);
        @include default-transition;
        &:after {
          content: " →";
          color: $light-gold;
          font-size: em(25);
          line-height: 1;
          position: relative;
          top: em(4,25);
        }
        &:hover {
          opacity: 1;
          &:after {
            left: 1px;
          }
        }
      }
    }
  }
}
.events-after {
  background: transparent url('../images/events/mobile-events-after1.jpg') no-repeat top center; //quality @ 20
  background-size: cover;
  min-height: em(480);
  position: static;
  height: 80vh;
  min-height: 80vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

//  Tablet
@media all and (min-width: $tablet) {
  .events {
    .event, .book {
      width: 70%;
      margin: 0 15%;
    }
    .event {
      h2 {
        font-size: em(32);
        line-height: 1.15;
        margin: em(45,32) auto em(25,32) ;
      }
    }
    .book {
      margin-top: em(56);
      .book-header {
        padding: em(24);
        p {
          font-size: em(16);
        }
      }
    }
  }
}

//  Large Tablet
@media all and (min-width: $lg-tablet) {
  .events {
    background-image: url('../images/events/events2.jpg'); //quality @ 70
    .wrapper {
      padding: em(120) 0 em(90);
      max-width: 90%;
      margin: 0 5%;
    }
    .event {
      width: 42%;
      float: left;
      margin: 0;
    }
    .book {
      width: 48%;
      float: left;
      margin: 0;
      .book-header,
      .book-body {
        padding: em(32);
      }
    }
    .event {
      margin-right: 10%;
      p {
        font-size: em(17);
      }
      h2 {
        font-size: em(42);
        line-height: 1.2;
        margin: em(75,42) auto em(45,42) ;
      }
      .cta-button {
        font-size: em(18);
        margin-top: em(18,18);
      }
    }
  }
  .events-after {
    background-image:  url('../images/events/events-after1.jpg'); //quality @ 20
    min-height: em(720);
    position: static;
    height: 85vh;
    min-height: 85vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
}

//  Desktop
@media all and (min-width: $desktop) {
  .events {
    .wrapper {
      padding: em(180) 0 em(140);
      width: em(1360);
      margin: 0 auto;
      display: block;
      overflow: auto;
    }
    .event, .book {
      width: 45%;
    }
    .event {
      margin-right: 10%;
      p {
        font-size: em(22);
      }
      h2 {
        font-size: em(48);
        line-height: 1.2;
        margin: em(200,48) auto em(35,48);
      }
      .cta-button {
        font-size: em(28);
        margin-top: em(18,28);
      }
    }
    .book {
      .book-header {
        .title {
          h2 {
            font-size: em(26);
            line-height: 1.4;
            font-weight: 400;
          }
        }
        p {
          color: $light-grey;
          font-size: em(22);
        }
      }
      .book-body {
        p,a {
          font-size: em(22);
          letter-spacing: em(0.5);
          line-height: 1.5;
        }
      }
    }
  }

  .events-after {
    min-height: em(1000);
    position: static;
    height: 90vh;
    min-height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
}
