// Component template. See helpers/_02-config.scss for actual widths.
// Default / Mobile
.index header {
  background: transparent url('../images/headers/mobile-header2.jpg') no-repeat top center; //quality @ 20
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  color: $white;
  display: inline-block;
  min-height: 80vh;
  position: relative;
  text-align: center;
  width: 100%;
  .logo {
    display: block;
    margin: em(120) auto em(16);
    img {
      height: auto;
      max-width: 60%;
    }
  }
  .tagline {
    display: block;
    font-family: "Frutiger W01";
    font-size: em(36);
    font-style: normal;
    font-weight: normal;
    line-height: 1.1;
    margin: 0 auto em(120,36);
  }
}


//  Tablet
@media all and (min-width: $tablet) {
  .index header {
    .logo {
      margin: em(180) auto em(24);
    }
    .tagline {
      font-size: em(48);
      margin: 0 auto em(180,64);
    }
  }
}

//  Large Tablet
@media all and (min-width: $lg-tablet) {
  .index header {
    background-image: url('../images/headers/header2.jpg');
    .tagline {
      font-size: em(64);
      margin: 0 auto em(240,84);
    }
  }
}

//  Desktop
@media all and (min-width: $desktop) {
}
