// Component template. See helpers/_02-config.scss for actual widths.
// Default / Mobile
.index header {
  background: transparent url('../images/mobile-header1.1.jpg') no-repeat top center; //quality @ 20
  background-size: cover; 
  display: inline-block;
  text-align: center;
  width: 100%;
  .logo {
    display: block;
    margin: em(120) auto em(16);
    img {
      height: auto;
      max-width: 60%;
    }
  }
  .tagline {
    display: block;
    font-family: "MyWriteHand";
    font-size: em(36);
    font-style: normal;
    font-weight: normal;
    line-height: 1.1;
    margin: 0 auto em(120,36);
  }
}


//  Tablet
@media all and (min-width: $tablet) {
  .index header {
    .logo {
      margin: em(180) auto em(24);
    }
    .tagline {
      font-size: em(64);
      margin: 0 auto em(180,64);
    }
  }
}

//  Large Tablet
@media all and (min-width: $lg-tablet) {
  .index header {
    background-image: url('../images/header1.1.jpg');
    .tagline {
      font-size: em(84);
      margin: 0 auto em(240,84);
    }
  }
}

//  Desktop
@media all and (min-width: $desktop) {
}

