// Component template. See helpers/_02-config.scss for actual widths.
// Default / Mobile
.intro {
  background: transparent url('../images/intro/mobile-intro2.jpg') no-repeat top center; //quality @ 70
  background-size: cover; 
  color: $white;
  display: inline-block;
  font-size: em(15);
  padding-bottom: em(30,15);
  padding-top: em(50,15);
  line-height: 1.6;
  text-align: center;
  width: 100%;
  .wrapper {
    margin: 0 auto;
    max-width: 90%;
  }
  span i {
    font-style: normal;
    color: $yellow;    
    font-family: $secondary-font;
    font-size: em(20,15);
    line-height: 1;
  }
  span.italic:after {      
    color: $yellow;  
  }
  span.italic i {
    font-style: italic;
  }
  .more-button {
    cursor: pointer;
    margin: em(30,15) auto 0;
    width: em(150);
    font-family: $secondary-font;
    font-size: em(14);
    a {
      @include default-transition;
      color: $light-grey;
      text-decoration: none;
      font-style: italic;
           
    }
    &:hover a {
      color: lighten($light-grey, 10%);
      &:after {
        top: em(3);
        border-color: lighten($light-blue, 10%) transparent transparent transparent;
      }
    }
  }
}

//  Tablet
@media all and (min-width: $tablet) {
  .intro {
    font-size: em(18);
    padding-bottom: em(30,18);
    padding-top: em(50,18);
    .wrapper {
      margin: 0 auto;
      max-width: 75%;
    }
    .more-button {
      margin-top: em(30,18);
    }
  }  
}

//  Large Tablet
@media all and (min-width: $lg-tablet) {
  .intro {
    background-image: url('../images/intro/intro2.jpg');
    font-size: em(22);
    line-height: 1.6;
    text-align: center;
    width: 100%;
    padding-bottom: em(60,22);
    padding-top: em(120,22);
    .wrapper {
      margin: 0 auto;
      max-width: 65%;
    }
    span i {
      font-style: normal;
      color: $yellow;    
      font-family: $secondary-font;
      font-size: em(32,22);
      line-height: 1;
    }
    span.italic:after {      
      color: $yellow;  
    }
    span.italic i {
      font-style: italic;
    }
    .more-button {
      margin-top: em(60,22);
    }
  }
}

//  Desktop
@media all and (min-width: $desktop) {
  .intro {
    font-size: em(26);
    padding-bottom: em(150,26);
    padding-top: em(230,26);
    .wrapper {
      margin: 0 auto;
      max-width: 50%;
    }
    .more-button {
      margin-top: em(100,26);
    }
  }  
}

