// Component template. See helpers/_02-config.scss for actual widths.
// Default / Mobile
.outro {
  background: transparent url('../images/outro/mobile-outro3.jpg') no-repeat top center; //quality @ 70
  background-size: cover;
  display: block;
  overflow: hidden;
  padding-bottom: em(16);
  text-align: center;
  width: 100%;
  .wrapper {
    margin: 0 2%;
    max-width: 96%;
  }
  .body {
    margin: 0 auto;
    max-width: 96%;
  }
  h2 {
    font-size: em(32);
    font-weight: 200;
    line-height: 1.15;
    margin: em(45,32) auto em(25,32) ;
    max-width: 84%;
  }
  p {
    line-height: 1.4;
  }
  h3 {
    font-size: em(22);
  }
  .action {
    margin-bottom: em(24);
    a {
      @include default-transition;
      color: $blue;
      display: block;
      text-decoration: none;
      &.donate:after,
      &.attend:after {
        @include default-transition;
        color: $bright-blue;
        content: " →";
        font-size: em(24);
        line-height: 0.7;
        position: relative;
        top: em(2);
      }
      &:hover {
        color: $bright-blue;
      }
      &:hover.donate:after,
      &:hover.attend:after {
        left: 2px;
      }
    }
    h4 {
      font-size: em(16);
      margin-bottom: em(8);
    }
  }
}

//  Tablet
@media all and (min-width: $tablet) {
  .outro {
    padding-bottom: em(24);
    .wrapper {
      margin: 0 3%;
      max-width: 94%;
    }
    .body {
      margin: 0 auto;
      max-width: 96%;
    }
    h2 {
      font-size: em(32);
      line-height: 1.15;
      margin: em(45,32) auto em(25,32);
      max-width: 84%;
    }
    p {
      font-size: em(17);
      line-height: 1.4;
    }
    h3 {
      font-family: $secondary-font;
      font-size: em(26);
      padding: em(16,26) 0 em(32,26);
    }
    .action {
      h4 {
        font-size: em(20);
      }
    }
  }
}

//  Large Tablet
@media all and (min-width: $lg-tablet) {
  .outro {
    background-image: url('../images/outro/outro3.jpg'); //quality @ 70
    padding-bottom: em(52);
    .wrapper {
      margin: 0 10%;
      max-width: 80%;
    }
    .body {
      margin: 0 auto;
      max-width: 96%;
    }
    h2 {
      font-size: em(42);
      line-height: 1.2;
      margin: em(75,42) auto em(45,42) ;
      max-width: 75%;
    }
    p {
      font-size: em(18);
      line-height: 1.4;
    }
    h3 {
      font-family: $secondary-font;
      font-size: em(32);
      padding: em(16,32) 0 em(32,32);
    }
    .actions {
      max-width: em(950);
      margin: 0 auto;
    }
    .action {
      margin-bottom: em(24,18);
      display: inline-block;
      width: 32%;
      vertical-align: top;
      h4 {
        font-size: em(18);
      }
    }
  }
}

//  Desktop
@media all and (min-width: $desktop) {
  .outro {
    padding-bottom: em(72);
    .wrapper {
      margin: 0 auto;
      max-width: em(1400);
    }
    .body {
      max-width: em(930);
    }
    h2 {
      font-size: em(60);
      margin: em(200,60) auto em(45,60) ;
      max-width: 65%;
    }
    p {
      font-size: em(26);
      line-height: 1.6;
    }
    h3 {
      font-family: $secondary-font;
      font-size: em(48);
      padding: 0;
    }
    .actions {
      max-width: em(1400);
    }
    .action {
      font-size: em(28);
      line-height: 1.6;
      margin-bottom: em(12,24);
      padding-top: em(4,24);
      h4 {
        font-size: em(32,28);
        margin-bottom: em(2,28);
      }
    }
  }
}
