// Component template. See helpers/_02-config.scss for actual widths.
// Default / Mobile
.president {
  background-color: $off-white;
  display: inline-block;
  padding-bottom: em(50);
  padding-top: em(50);
  width: 100%;
  .wrapper {
    margin: 0 2%;
    max-width: 96%;
  }
  .letter-top {
    text-align: center;
    h2 {
      color: $blue;
      font-size: em(26);
      font-weight: 700;
      margin-top: em(12,26);
    }
    h3 {
      color: $blue;
      font-size: em(18);
      font-weight: 200;
      em {
        color: $light-blue;
        font-style: normal;
        font-family: $secondary-font;
        font-size: em(24,18)
      }
    }
  }
  .pic {
    text-align: center;
    .sig {
      color: $blue;
      font-size: em(14);
      font-weight: 200;
      margin-top: 0;
      text-align: center;
      img {
        margin: em(4) auto em(8);
        padding: 0;
        width: auto;
      }
    }
  }
  .body {
    margin-top: em(32);
    font-size: em(15);
    overflow: hidden;
    h3 {
      font-weight: 200;
    }
    p,ul {
      font-weight: 200;
    }
    .list-top {
      font-weight: 700;
    }
  }

  .more-button {
    cursor: pointer;
    font-size: em(14);
    margin-left: em(16,14);
    margin-top: 0;
    a {
      @include default-transition;
      color: $blue;
      text-decoration: none;
      text-transform: uppercase;
      padding-top: em(5);
      position: relative;
      &:after {
        @include transition(all 0.3s cubic-bezier(0.4, 0, 0.2, 1));
        border-color: transparent transparent transparent transparent;
        border-style: solid;
        border-width: em(9) em(11) 0 em(11);
        content: "";
        display: block;
        height: 0;
        margin: 0;
        position: absolute;
        width: 0;
        left: em(38,20);
        top: em(35,20);
      }
    }
    &:hover a {
      opacity: 1;
      &:after {
        border-color: lighten($light-blue, 10%) transparent transparent transparent;
      }
    }
  }
  &.showmore .more-button a:after {
    border-width:  0 em(11) em(9) em(11);
    top: em(-10);
  }
  &.showmore .more-button:hover a:after {
    border-color: transparent transparent lighten($light-blue, 10%) transparent;
  }
}


//  Tablet
@media all and (min-width: $tablet) {
  .president {
    padding-top: em(60);
    .wrapper {
      margin: 0 2%;
      max-width: 96%;
    }
    .letter-top {
      text-align: center;
      p {
        font-size: em(15);
      }
      h2 {
        font-size: em(28);
        margin-top: em(12,28);
      }
    }
    .pic {
      display: inline-block;
      float: right;
      margin: 0;
      max-width: 25%;
      img {
        width: 100%;
      }
      .sig {
        font-size: em(14);
        img {
          max-width: 100%;
        }
      }
    }
    .body {
      margin-top: em(28);
      font-size: em(15);
    }
  }
}

//  Large Tablet
@media all and (min-width: $lg-tablet) {
  .president {
    padding-bottom: em(60);
    padding-top: em(90);
    .wrapper {
      margin: 0 auto;
      width: em(960);
    }
    .letter-top {
      text-align: center;
      p {
        font-size: em(16);
      }
      h2 {
        font-size: em(34);
        margin-top: em(12,34);
      }
    }
    .pic {
      max-width: 25%;
      .sig {
        font-size: em(16);
      }
    }
    .body {
      margin-top: em(42);
      font-size: em(16);
    }
  }
}

//  Desktop
@media all and (min-width: $desktop) {
  .president {
    padding-bottom: em(80);
    padding-top: em(110);
    .wrapper {
      width: em(1160);
    }
    .letter-top {
      text-align: center;
      h2 {
        font-size: em(48);
        margin-top: em(12,48);
      }
      h3 {
        font-size: em(24);
        line-height: 2.2rem;
        margin: 0 auto em(52,24);
        max-width: 75%;
      }
    }
    .pic {
      margin-left: em(50);
      width: em(300);
      .sig {
        font-size: em(16);
      }
    }
    .body {
      margin-top: em(42,24);
      font-size: em(24);
      line-height: 2.2rem;
    }
    .more-button {
      margin-left: em(36,26);
    }
  }
}
