// Default / Mobile
.intro,
.president {
  &.showless {
    .more {
      @include default-transition;
      display: none;
      opacity: 0;
      // font-size:0;
    }
    .pre:before,
    .post:after {
      content: " . . . ";
    }
    .period:after {
      content: ".";
    }
  }
  &.showmore {
    .less {
      display: none;
    }
    .more {
      @include default-transition;
    }
    .pre:before,
    .post:after,
    .period:after {
      content: "";
    }
  }
}

.president .more-button {
  margin-top: em(24);
}
