// Default / Mobile
.index nav {
  display: none;
  position: fixed;
  background-color: $blue;
  text-align: right;
  width: 100%;
  z-index: 1000;
  .logo-sm {
    padding: em(20) 0 em(18) em(18);
    width: em(265);
    max-width: 70%;
    height: auto;
    float: left;
  }

  .mobile-menu-icon {
    @include default-transition;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: em(75);
    position: relative;
    text-indent: -9999px;
    width: em(75);
    margin-right: em(16);
    div {
      height: 100%;
      position: relative;
      width: 100%;
      z-index: 9999;
      span {
        background-color: $white;
        display: block;
        font-size: 0px;
        height: 6px;
        left: 25%;
        margin-top: -2px;
        position: absolute;
        top: 50%;
        transition: background-color 0.3s;
        width: 60%;
        z-index: 9999;
        &:before,
        &:after {
          background: $white;
          content: '';
          height: 100%;
          left: 0;
          position: absolute;
          transform: translateY(-250%);
          transition: transform 0.3s;
          width: 100%;
          z-index: 9999;
        }
        &:after {
          transform: translateY(250%);
        }
      }
    }
    &.active {
      div span {
        background-color: transparent;
        &:before,
        &:after {
          background: $white;
          transition: transform 0.3s;
          transform: rotate(45deg) translateY(0);
        }
        &:after {
          transform: rotate(-45deg) translateY(0) ;
        }
      }
    }
  }
  .mobile-menu {
    background-color: rgba($blue,0.9);
    bottom: 0;
    display: none;
    left: 0;
    min-height: em(250);
    position: absolute;
    right: 0;
    text-align: center;
    top: em(75);
    z-index: 100;
    a {
      color: $white;
      display: block;
      text-decoration: none;
      font-size: em(24);
      line-height: 2.5;
    }
  }
  .menu {
    display: none;
  }

}

//  Large Tablet
@media all and (min-width: em(820)) {
  .index nav {
    .logo-sm {
      padding: em(18) 0 em(14) em(18);
    }
    a.text {
      font-weight: 200;
      font-size: em(14);
      border-bottom: em(5,14) solid $blue;
      display: inline-block;
      text-decoration: none;
      color: $white;
      padding: em(30,14) em(7,14) em(22,14) em(7,14);
      @include default-transition;
      &:hover,
      &.active {
        border-bottom: em(5,14) solid $light-blue;
      }
    }
    .menu {
      display: inline-block;
    }
    .mobile-menu,
    .mobile-menu-icon {
      display: none !important;
    }
  }
}

//  Desktop
@media all and (min-width: em(1000)) {
  .index nav {
    a.text {
      font-size: em(16);
      border-bottom: em(5) solid $blue;
      padding: em(30) em(14) em(22) em(14);
      &:hover,
      &.active {
        border-bottom: em(5) solid $light-blue;
      }
    }
  }
}
