// Component template. See helpers/_02-config.scss for actual widths.
// Default / Mobile
.victories .wrapper {
  background: transparent url('../images/victories/mobile-victories3.jpg') no-repeat top center; //quality @ 70
  background-size: cover;
  min-height: em(480);
  padding: em(40) 0 em(70);
  text-align: center;
  .victory {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    width: 80%;
  }
  h2 {
    color: $blue;
    letter-spacing: 1px;
    font-size: em(26);
    font-weight: 200;
    margin-bottom: em(24,26);
    em {
      font-family: $secondary-font;
      font-size: em(36,26);
      position: relative;
      left: -3px;
      font-style: normal;
      letter-spacing: -0.05em;
      display: inline-block;
      &::first-letter {
        letter-spacing: -18px;
      }
    }
  }
  h3 {
    color: $blue;
    font-size: em(32);
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 0.6;
    margin-bottom: em(20,32);
    small {
      font-size: em(16,32);
      font-weight: 400;
      letter-spacing: 0;
    }
  }
  p {
    color: $blue;
    font-weight: 200;
    font-size: em(14);
    letter-spacing: 1px;
    margin-top: em(8,14);
  }
}
.victory-after {
  background: transparent url('../images/victories/mobile-victories-after1.jpg') no-repeat top center; //quality @ 20
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 80vh;
  min-height: 80vh;
  min-height: em(480);
  position: static;
  width: 100%;
}


//  Tablet
@media all and (min-width: $tablet) {
  .victories .wrapper {
    padding: em(40) 0 em(70);
    h2 {
      font-size: em(32);
      margin-bottom: em(24,32);
    }
    .victory {
      margin: em(12) em(16) 0;
      width: 36%;
    }
  }
}

//  Large Tablet
@media all and (min-width: $lg-tablet) {
  .victories .wrapper {
    background-image:  url('../images/victories/victories3.jpg'); //quality @ 70
    min-height: em(720);
    padding: em(100) 0 em(70);
    .victory {
      margin: em(24) em(32);
      width: 24%;
    }
  }
  .victory-after {
    background-image:  url('../images/victories/victories-after1.jpg'); //quality @ 20
    min-height: em(720);
    position: static;
    height: 85vh;
    min-height: 85vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
}

//  Desktop
@media all and (min-width: $desktop) {
  .victories .wrapper {
    padding: em(150) em(64) em(110);
    .victory {
      margin: em(36) em(64);
      width: 22%;
    }
    h2 {
      font-size: em(48);
      margin-bottom: em(48,48);
      em {
        font-size: em(60,48);
        letter-spacing: -0.05em;
      }
    }
    h3 {
      font-size: em(54);
      margin-bottom: em(20,54);
      small {
        font-size: em(28,54);
      }
    }
    
    p {
      font-size: em(20);
      margin-top: em(8,20);
    }
  }
  .victory-after {
    min-height: em(1000);
    position: static;
    height: 90vh;
    min-height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
}
