// Component template. See helpers/_02-config.scss for actual widths.
// Default / Mobile
header {
  .tagline {
    font-family: "MyWriteHand";
    font-weight: normal;
    font-style: normal;
  }
}

//  Tablet
@media all and (min-width: $tablet) {
}

//  Large Tablet
@media all and (min-width: $lg-tablet) {
}

//  Desktop
@media all and (min-width: $desktop) {
}

