// Default / Mobile
.index {

  @-webkit-keyframes fadeIn { from { opacity:0; font-size:0;} to { opacity:1; font-size:inherit; } }
  @-moz-keyframes fadeIn { from { opacity:0; font-size:0; } to { opacity:1; font-size:inherit; } }
  @keyframes fadeIn { from { opacity:0; font-size:0; } to { opacity:1; font-size:inherit; } }

  @-webkit-keyframes fadeOut { from { opacity:1; font-size:inherit; } to { opacity:0; font-size:0; } }
  @-moz-keyframes fadeOut { from { opacity:1; font-size:inherit; } to { opacity:0; font-size:0;} }
  @keyframes fadeOut { from { opacity:1; font-size:inherit; } to { opacity:0; font-size:0;} }

  .showless {
    .more {
      display: none;
      -webkit-animation:fadeOut ease-in 1;  
      -moz-animation:fadeOut ease-in 1;
      animation:fadeOut ease-in 1; 
      -webkit-animation-fill-mode:forwards; 
      -moz-animation-fill-mode:forwards;
      animation-fill-mode:forwards;    
      -webkit-animation-duration:0.5s;
      -moz-animation-duration:0.5s;
      animation-duration:0.5s;
    }
    .pre:before,    
    .post:after {
      content: "...";
    } 
    .period:after {
      content: ".";
    }
  }
  .showmore {
    .less {
      display: none;
    }
    .more {
      opacity: 0; 
      -webkit-animation:fadeIn ease-in 1;  
      -moz-animation:fadeIn ease-in 1;
      animation:fadeIn ease-in 1; 
      -webkit-animation-fill-mode:forwards; 
      -moz-animation-fill-mode:forwards;
      animation-fill-mode:forwards;    
      -webkit-animation-duration:0.7s;
      -moz-animation-duration:0.7s;
      animation-duration:0.7s;     
    }
    .pre:before,
    .post:after,
    .period:after {
      content: "";
    }
  }
}


//  Tablet
@media all and (min-width: $tablet) {
}

//  Large Tablet
@media all and (min-width: $lg-tablet) {
}

//  Desktop
@media all and (min-width: $desktop) {
}
