// Default / Mobile
.index {

  @-webkit-keyframes hsStretch { from { font-size:0;} to { font-size:inherit; } }
  @keyframes hsStretch { from { font-size:0; } to { font-size:inherit; } }

  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

  @-webkit-keyframes fadeOut { from { opacity:1; font-size:inherit; } to { opacity:0; font-size:0; } }
  @keyframes fadeOut { from { opacity:1; font-size:inherit; } to { opacity:0; font-size:0; } }

  .showless {
    .more {
      display: none;      
      -webkit-animation:
        fadeOut 0.5s ease-in 0s 1 normal forwards running; 
      animation:
        fadeOut 0.5s ease-in 0s 1 normal forwards running; 
    }
    .pre:before,    
    .post:after {
      content: "...";
    } 
    .period:after {
      content: ".";
    }
  }
  .showmore {
    .less {
      display: none;
    }
    .more {
      opacity: 0;
      -webkit-animation: 
        hsStretch 0.5s ease-out 0s 1 normal forwards running,
        fadeIn 0.3s ease-out 0.3s 1 normal forwards running;
      animation:
        hsStretch 0.5s ease-out 0s 1 normal forwards running,
        fadeIn 0.3s ease-out 0.3s 1 normal forwards running; 
    }
    .pre:before,
    .post:after,
    .period:after {
      content: "";
    }
  }
}


//  Tablet
@media all and (min-width: $tablet) {
}

//  Large Tablet
@media all and (min-width: $lg-tablet) {
}

//  Desktop
@media all and (min-width: $desktop) {
}
