//
// Note: activate visual grid in styles.scss
//

//
// Colors
//
// Note: darken/lighten used, for effect, e.g.:
// .example:hover { color: darken($font-name, 5%); }

$blue: #152b51; 
$yellow: #ce8e00;  
$red: #EE2324;  

$light-gray: #EBEBEB;
$medium-gray: #B2A6A0;
$light-grey: $light-gray;
$medium-grey: $medium-gray;
$black: #000;

$off-white: $light-gray;
$white: #fff;

// fonts
$primary-font: 'Frutiger W01',sans-serif;
$secondary-font: 'MyWriteHand','Brush Script MT', cursive;

html, body { font-family: $primary-font; font-size: 16px; color: $white; background-color: $blue; }
h1 { color: $white; }
a { color: $yellow; }
a:hover, a:focus { color: darken($yellow, 5%); }


// List bullets in content.
p ul {
  list-style: none;
  padding:0;
  margin:0;
  li {
    padding-bottom: em(16);
    padding-left: em(22);
    text-indent: -.7em;
    &:before {
      color: $blue;
      content: "•";
      font-size: em(20);
      line-height: 0.5;
      padding-right: em(8);
      position: relative;
      top: 2px;
    }
  }
}

// Responsive breakpoints - note: mobile first!
// In ems to fix a weird zoom / retina bug: http://blog.55minutes.com/2012/04/media-queries-and-browser-zoom/
$tablet:      36.25em; // 580px
$lg-tablet:   48em; // 768px
$desktop:     70.125em; // 1122px
$max-width:   70.125em;

// The amount lists, blockquotes and comments are indented.
$indent-amount: 20px;
