//
// Note: activate visual grid in styles.scss
//

//
// Colors
//
// Note: darken/lighten used, for effect, e.g.:
// .example:hover { color: darken($font-name, 5%); }

$blue: #263f6a;
$bright-blue: #3e7fb7;
$light-blue: #739abc;
$dark-blue: #060e25;

$gold: #ce8e00;
$yellow: #FBCB43;

$red: #EE2324;

$light-gray: #c1d1df;
$medium-gray: #B2A6A0;
$light-grey: $light-gray;
$medium-grey: $medium-gray;
$black: #000;

$white: #fff;
$off-white: #e9eaec;

// fonts
$primary-font: 'Frutiger W01',sans-serif;
$secondary-font: minion-pro, serif;

html, body { font-family: $primary-font; font-weight: 200; font-size: 16px; color: $blue; background-color: #14233d; }
h1 { color: $blue; }
a { color: $blue; }
a:hover, a:focus {
  color: darken($yellow, 5%);
  @include transition(color 0.3s linear,background-color 0.3s linear);
}


// List bullets in content.
ul {
  list-style: none;
  padding:0;
  margin:0;
  li {
    padding-bottom: em(18);
    padding-left: em(22);
    letter-spacing: 0;
    text-indent: -1.3em;
    &:before {
      color: $light-blue;
      content: "•";
      font-size: em(10);
      line-height: 0.5;
      padding-right: em(14,10);
      position: relative;
    }
  }
}

// Responsive breakpoints - note: mobile first!
// In ems to fix a weird zoom / retina bug: http://blog.55minutes.com/2012/04/media-queries-and-browser-zoom/
$tablet:      36.25em; // 580px
$lg-tablet:   45em; // 720px
$desktop:     87.5em; // 1400px
$lg-desktop:  100em; //1600px
$max-width:   112.5em; // 1800px

// The amount lists, blockquotes and comments are indented.
$indent-amount: 16px;
