<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

    <nav>
      <a href="\"><img src="" class="logo-sm" alt="Logo: {{site.title}}"></a>

      <a href="" class="about">About the Campaign</a>

      <a href="" class="get-involved">Get Involved</a>

      {% if page.next and page.next.categories contains "campaigns"  %}
        <a href="{{ page.next.url }}" class="next">
          <span class="post-title">{{ page.next.title }} &rarr; </span>
        </a>
      {% elsif page.previous and page.previous.categories contains "campaigns"  %}
        {% for campaign in site.data.campaigns %}
          {% if forloop.first  %}
            <a href="{{ campaign[1].url }}" class="next">
              <span class="post-title">{{ campaign[1].title }} &rarr; </span>
            </a>
          {% endif %}
        {% endfor %}
      {% endif %}

    </nav>

    <article class="campaign">

      <header class="campaign-header">

        {% for campaign_hash in site.data.campaigns %}
        {% assign campaign = campaign_hash[1] %}

          {% if page.slug == campaign.url %}

            <section class="campaign-header">
              <div class="main">
                <p>{{ campaign.financial_tagline | markdownify }}</p>

                <h2>{{ campaign.title }}</h2>

                <p>{{ campaign.description | markdownify }}</p>
              </div>
              <aside>
                {{ campaign.image }}
                {{ campaign.caption }}
              </aside>
            </section>

            <section class="goals">
              {% for goal_hash in campaign.goals %}
                {% assign goal = goal_hash[1] %}
                <div class="goal">{{ goal }}</div>
              {% endfor %}
            </section>

            <section class="video">
              {{ campaign.celeb_video }}
            </section>

            <section class="celeb">
              {{ campaign.celeb_image }}
              {{ campaign.celeb_quote | markdownify }}
            </section>

            <section class="donor-story">
              {{ campaign.donor_story | markdownify }}
            </section>

          {% endif %}

        {% endfor %}

      </header>

    </article>

    {% include outro.html %}
    {% include footer.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.0/jquery.js"></script>
    <script src="{{site.baseurl}}/assets/js/hsus.js"></script>

    {% if site.baseurl %}
    <!-- Loaded only in local -->
    <script src="http://localhost:35729/livereload.js"></script>
    {% endif %}
  </body>
</html>
