---
layout: default
---
  {% include sticky-nav-campaign.html %}

        {% for header in page.header %}
        <style>
          .campaign header { background-image: url('{{ header.mobile-background }}'); }
          @media all and (min-width: 45em) {
          .campaign header { background-image: url('{{ header.background }}'); }
          }
        </style>
        {% endfor %}        
        <header class="campaign-header">
          <div class="gradient">&nbsp;</div>
          <div class="wrapper">
            <p class="financial">
              <strong>{{ page.financial_tagline.amount }}</strong><br>
              {{page.financial_tagline.text}}
            </p>
             <div class="tagline">{{ site.data.shared.footer-tagline }}</div>

            <h2>{{ page.title }}</h2>

            <p class="description">{{ page.description }}</p>
          </div>
          <p class="caption">{{ page.caption }}</p>
        </header>


        {% for goal-layout in page.goal_layout %}
        <style>
          .goals { background-image: url('{{ goal-layout.mobile-background }}'); }
          @media all and (min-width: 45em) {
            .goals { background-image: url('{{ goal-layout.background }}'); }
          }
        </style>
        {% endfor %}
        <section class="goals" id="goals">
          <div class="wrapper">
            <h2>How We'll Create Change</h2>
            {% for goal in page.goals %}
              <div class="goal">{{ goal }}</div>
            {% endfor %}
          </div>
        </section>

        {% for celeb in page.celebs %}
        <style>
          .celeb.{{ celeb.class }} { background-image: url('{{ celeb.mobile-background }}'); }
          @media all and (min-width: 45em) {
            .celeb.{{ celeb.class }} { background-image: url('{{ celeb.background }}'); }
          }
        </style>
        <section class="celeb {{ celeb.class }}" id="video">
          <div class="wrapper">
            <img class="headshot" src="{{ celeb.image }}" alt="Image: {{ celeb.name }}">
            <h3>{{ celeb.name }}</h3>
            <p class="title">{{ celeb.title }}</p>
            <blockquote><span class="quotes left">&ldquo;</span>{{ celeb.quote }}<span class="quotes right">&rdquo;</span></blockquote>
          </div>

          {% if celeb.video contains 'iframe' %}
          <a class="video"><img class="play-button svg" src="/assets/images/icons/play-button.svg" alt="play video">
            <div class="overlay">&nbsp;</div>
            <div class="youtubewrap"><div class="video-container">{{ celeb.video }}</div></div>
          </a>
          {% endif %}
        </section>
        {% endfor %}

        {% include outro.html %}

        {% for donor in page.donor_story %}
        <style>
          .donor-story { background-image: url('{{ donor.mobile-background }}'); }
          @media all and (min-width: 45em) {
            .donor-story { background-image: url('{{ donor.background }}'); }
          }
        </style>
        <section class="donor-story">
          <div class="wrapper">
            <img class="headshot" src="{{ donor.image }}" alt="Image: {{ donor.title }}">
            <h3>{{ donor.title }}</h3>
            <p>{{ donor.body }}</p>
          </div>
        </section>
        {% endfor %}
