---
layout: default
---
    <nav>
      <div class="wrapper">
        <a href="/"><img src="{{ site.data.misc.small-logo-url }}" class="logo-sm" alt="Logo: {{site.title}}"></a>

        <div class="mobile-menu" id="mobile-menu">
          <a href="#goals" class="text about">About the Campaign</a>
          <a href="#get-involved" class="text get-involved">Get Involved</a>
          {% if page.next and page.next.categories contains "campaigns"  %}
            <a href="{{ page.next.url }}" class="next text">
              <span class="post-title">{{ page.next.title }}</span>
            </a>
          {% elsif page.previous and page.previous.categories contains "campaigns"  %}
            {% for campaign in site.data.campaigns %}
              {% if forloop.first  %}
                <a href="{{ campaign[1].url }}" class="next text">
                  <span class="post-title">{{ campaign[1].title }}</span>
                </a>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>

        <div class="menu" id="menu">
          <a href="#goals" class="text left about">About the Campaign</a>
          <a href="#get-involved" class="text left get-involved">Get Involved</a>
        </div>

        <div class="next-menu">
          {% if page.next and page.next.categories contains "campaigns"  %}
            <a href="{{ page.next.url }}" class="next text">
              <span class="post-title">{{ page.next.title }}</span>
            </a>
          {% elsif page.previous and page.previous.categories contains "campaigns"  %}
            {% for campaign in site.data.campaigns %}
              {% if forloop.first  %}
                <a href="{{ campaign[1].url }}" class="next text">
                  <span class="post-title">{{ campaign[1].title }}</span>
                </a>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>

        <a class="mobile-menu-icon"><div><span>Menu</span></div></a>
      </div>
    </nav>




        <header class="campaign-header">
          <div class="gradient">&nbsp;</div>
          <div class="wrapper">
            <p class="financial">
              <strong>{{ page.financial_tagline.amount }}</strong><br>
              {{page.financial_tagline.text}}
            </p>
             <div class="tagline">{{ site.data.misc.footer-tagline }}</div>

            <h2>{{ page.title }}</h2>

            <p class="description">{{ page.description }}</p>
          </div>
          <p class="caption">{{ page.caption }}</p>
        </header>

        <section class="goals" id="goals">
          <div class="wrapper">
            <h2>Goals</h2>
            {% for goal in page.goals %}
              <div class="goal">{{ goal }}</div>
            {% endfor %}
          </div>
        </section>

        {% for celeb in page.celebs %}
        <section class="celeb">
          <div class="wrapper">
            <img class="headshot" src="{{ celeb.image }}" alt="Image: {{ celeb.name }}">
            <h3>{{ celeb.name }}</h3>
            <p class="title">{{ celeb.title }}</p>
            <blockquote><span class="quotes left"> &ldquo;</span>{{ celeb.quote }}<span class="quotes right">&rdquo;</span></blockquote>
          </div>

          <a class="video"><img class="play-button svg" src="/assets/images/play-button.svg" alt="play video">
            <div class="overlay">&nbsp;</div>
            <div class="youtubewrap"><div class="video-container">{{ celeb.video }}</div></div>
          </a>
        </section>
        {% endfor %}

        <section class="donor-story">
          {{ page.donor_story }}
        </section>
